<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light">

      <!--管理者用ヘッダー-->
      <% if admin_signed_in? %>
        <li class="nav-item">
          <%= link_to admin_items_path do %>
            商品一覧
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to admin_customers_path do %>
            会員一覧
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to admin_path  do %>
            注文履歴一覧
          <% end %>
        </li>
        <li>
          <%= link_to "ログアウト", destroy_admin_session_path, method: :delete %>
        </li>
      <!--顧客用ヘッダー-->
      <% elsif customer_signed_in? %>
        <li class="nav-item">
          <%= link_to customer_path(current_customer.id) do %>
            マイページ
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to  items_path do %>
            商品一覧
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to cart_items_path do %>
            カート
          <% end %>
        </li>
        <li>
          <%= link_to "ログアウト", destroy_customer_session_path, method: :delete %>
        </li>
        <!--ログイン前ヘッダー-->
        <% else %>
        <li class="nav-item">
          <%= link_to about_path do %>
            About
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to items_path do %>
            商品一覧
          <% end %>
        </li>
        <li>
          <%= link_to "新規登録", new_customer_registration_path %>
        </li>
        <li>
        <%= link_to "ログイン", new_customer_session_path %>
        </li>
      <% end %>
    </header>
    <%= yield %>
  </body>
</html>
